.container {
    display: flex;
    min-Height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.left-column,
.right-column {
    flex: 1;
    padding: 20px;
}

.left-column {
    background-color: #f8f8f8;
}

.right-column {
    background-color: #fff;
}